<div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <%= link_to "CL", root_path, class: "navbar-initial" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item dropdown" data-controller="dropdown">
          <a class="nav-link dropdown-toggle <%= 'active' if current_page?(about_path(1)) %>" href="#" role="button" aria-expanded="false" data-action="click->dropdown#toggle">
            About
          </a>
          <ul class="dropdown-menu" data-dropdown-target="menu">
            <li><%= link_to "My story", my_story_about_path(1), class: "dropdown-item" %></li>
            <li><%= link_to "My skills", my_skills_about_path(1), class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item <%= 'active' if current_page?(projects_path) %>">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(new_contact_path) %>">
          <%= link_to "Contact", new_contact_path, class: "nav-link" %>
        </li>


      </ul>
    </div>
  </div>
</div>
