<div class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <%= link_to "CL", root_path, class: "navbar-initial" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item <%= 'active' if current_page?(about_path(1)) %>">
          <%= link_to "About", about_path(1), class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(projects_path) %>">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(new_contact_path) %>">
          <%= link_to "Contact", new_contact_path, class: "nav-link" %>
        </li>

      </ul>
    </div>
  </div>
</div>
