<div class="container">

  <h1>Lorem ipsum dolor sit amet?</h1>

  <br>

  <%= simple_form_for contact_path do |f| %>
    <%= f.input :name, placeholder: "What's your name?" %>
    <%= f.input :email, placeholder: "What's your mail address?" %>
    <%= f.input :message, label: "Tell me what you want" %>
    <%= f.button :submit, value: "Send me your message" %>
  <% end %>
  
</div>
