<div class="container">

  <h1 class="h1-big-title">And this is not over...</h1>

  <div class="contact-form">
    <%= simple_form_for contact_path do |f| %>
      <%= f.input :name, placeholder: "What's your name?" %>
      <%= f.input :email, placeholder: "What's your mail address?" %>
      <%= f.input :message, placeholder: "Tell me what you want..." %>
      <%= f.button :submit, value: "Send me your message" %>
    <% end %>
  </div>

</div>
