<div class="container">

  <h1>Discover my projects</h1>
  <br>

  <ul class="ul-projects" data-controller="tab-category">
    <li class="li-projects" data-action="click->tab-category#changeTab" data-tab="all"><%= link_to "All", projects_path %></li>
    <% @skills.each do |skill| %>
      <li data-action="click->tab-category#changeTab" data-tab="<%= skill %>"><%= link_to skill, projects_path(skill: skill) %></li>
    <% end %>
  </ul>


  <br>
  <hr>
  <br>

  <% @projects.each do |project| %>
    <div class="project-card <%= cycle('project-card-black', 'project-card-grey') %>" data-skill="<%= project.skill %>">
      <div class="project-pic">
        <img src="/assets/profile_pic.png" alt="Profile Picture">
      </div>
      <div class="project-details">
        <h2><%= project.title.upcase %></h2>
        <h5>TECH : <%= project.skill.upcase %></h5>
        <p><%= project.date %></p>
        <p><%= project.description %></p>
        <div class="project-links">
          <% if project.github_link.present? %>
            <%= link_to "Github <i class='fa-solid fa-arrow-right'></i>".html_safe, project.github_link, :target => "_blank" %>
          <% end %>
          <% if project.web_link.present? %>
            <%= link_to "See more <i class='fa-solid fa-arrow-right'></i>".html_safe, project.web_link, :target => "_blank" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
