<div class="container">

  <div class="btn-back" data-controller="back-button">
    <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
  </div>

  <h1 class="h1-big-title">Discover my projects</h1>

  <hr>

  <ul class="ul-projects" data-controller="tab-category" data-tab-target="tab">
    <li class="li-projects" data-action="click->tab-category#changeTab" data-tab="all"><%= link_to "All", projects_path %></li>
    <% @skills.each do |skill| %>
      <li class="li-projects tab" data-action="click->tab-category#changeTab" data-tab="<%= skill %>" data-skill="<%= skill %>"><%= link_to skill, projects_path(skill: skill) %></li>
    <% end %>
  </ul>

  <% @projects.each do |project| %>
    <div class="project-card <%= cycle('project-card-black', 'project-card-grey') %>" data-skill="<%= project.skill %>" data-project-target="project">
      <div class="project-pic <%= project.project_type == 'web' ? 'web-pic' : 'mobile-pic' %>">
        <% if project.project_type == 'web' %>
          <%= image_tag project.picture, class: 'web-pic' if project.picture.present? %>
        <% else %>
          <% if project.pictures.present? %>
            <div class="mobile-pic-container">
              <% pictures = JSON.parse(project.pictures) %>
              <% pictures.each do |picture| %>
                <%= image_tag asset_path(picture), class: 'mobile-pic-item' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="project-details">
        <h2><%= project.title.upcase %></h2>
        <h5>TECH : <%= project.skill.upcase %></h5>
        <p><%= project.date %></p>
        <p><%= project.description %></p>
        <div class="project-links">
          <% if project.github_link.present? %>
            <%= link_to "Github <i class='fa-solid fa-arrow-right'></i>".html_safe, project.github_link, :target => "_blank" %>
          <% end %>
          <% if project.web_link.present? %>
            <%= link_to "See more <i class='fa-solid fa-arrow-right'></i>".html_safe, project.web_link, :target => "_blank" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
