<div class="container projects-container">

  <div class="btn-back" data-controller="back-button">
    <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
  </div>

  <div class="project-title">
    <h2>My projects</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra lectus. Maecenas nisl tellus, hendrerit vestibulum porttitor sit amet, iaculis non purus. Nullam et erat nec diam tincidunt pellentesque. Ut mollis mauris vitae nulla accumsan, sit amet tristique.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac viverra lectus. Maecenas nisl tellus, hendrerit vestibulum porttitor sit amet, iaculis non purus. Nullam et erat nec.</p>
  </div>

  <div class="card-container">
    <% @projects.each do |project| %>
      <div class="card">
        <%# <img src="/assets/UNBL-1.feed.png" class="card-img-top" alt="..."> %>
        <%= image_tag asset_path(project.picture) %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to project.title, project_path(project) %></h5>
          <p class="card-text"><%= project.description %></p>
          <div class="project-links">
            <div class="btn-degrade-small">
              <i class="fa-solid fa-arrow-right"></i>
              <%= link_to "See more", project_path(project) %>
            </div>
            <div class="btn-degrade-small">
              <i class="fa-solid fa-arrow-right"></i>
              <% if project.github_link.present? %>
                <%= link_to "Github", project.github_link, :target => "_blank" %>
              <% end %>
              <% if project.web_link.present? %>
                <%= link_to "See more", project.web_link, :target => "_blank" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
