<div class="container projects-container">

  <div class="btn-back" data-controller="back-button">
    <%= link_to '<i class="fa-solid fa-arrow-left" data-action="click->back-button#goBack"></i> back'.html_safe, 'javascript:history.go(-1)', id: 'backLink' %>
  </div>

  <div class="project-title">
    <h2><%= @project.title %></h2>
    <p><%= @project.long_description %></p>
    <div class="project-links">
      <div class="btn-degrade-small">
        <% if @project.github_link.present? %>
          <i class="fa-solid fa-arrow-right"></i>
          <%= link_to "Github", @project.github_link, :target => "_blank" %>
        <% end %>
      </div>
      <div class="btn-degrade-small">
        <% if @project.web_link.present? %>
          <i class="fa-solid fa-arrow-right"></i>
          <%= link_to "Web app", @project.web_link, :target => "_blank" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="project-infos">
    <div class="project-pic col-lg-6">
      <% if @project.project_type == 'web' %>
        <%= image_tag asset_path(@project.picture) %>
        <div class="web-pic-container">
          <% pictures = JSON.parse(@project.pictures) %>
          <% pictures.each do |picture| %>
            <%= image_tag asset_path(picture), class: 'web-pic-item' %>
          <% end %>
        </div>

      <% else %>
        <div class="mobile-pic-container">
          <% pictures = JSON.parse(@project.pictures) %>
          <div class="pic-grid">
            <% pictures.each do |picture| %>
              <%= image_tag asset_path(picture), class: 'mobile-pic-item' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="project-details col-lg-5">
      <h5>tech</h5>
      <p><%= @project.skill %></p>

      <h5>duration</h5>
      <p><%= @project.date.strftime('%m-%Y') %> - <%= @project.duration %></p>

      <h5>my role</h5>
      <p><%= @project.my_role %></p>
    </div>
  </div>

</div>
